*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
      font-family: "Inria Sans", sans-serif;

}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#header{
    background-color:#FFCCCC ;
    height: 150px;
    border:1px solid black;
    display: flex;
    padding: 20px;
    gap:100px;
 box-shadow: 1px 2px 3px lightgray;
}

.menu {
    width: 700px;
         display: flex;
        justify-content: space-evenly;
        padding: 25px;;
        font-size: 24px;;
        margin-top:15px;
      



}
.menu a{
      text-decoration: none;
        color:#710125;
        font-weight: 600;
}

  .logo{
    height: 130px;
    width:inherit;
    object-fit: contain;
  }

.search{
    font-size:22px;
    height: 35px;
    padding-top: 5px;;
    padding-left: 5px;;
    padding-right: 5px;;
    width: 200px;
      position: relative;
  cursor: pointer;
    background-color: white;
    color:#710125;
            font-weight: 600;
border-radius: 10px;;
text-align: center;
    margin-top:30px;
    border:1px solid #710125;
}

.login{
      font-size:22px;
    height: 35px;
    padding-top: 5px;;
    padding-left: 5px;;
    padding-right: 5px;;
    cursor: pointer;
    width: 200px;
    background-color: white;
    color:#710125;
            font-weight: 600;
border-radius: 10px;;
text-align: center;
    margin-top:30px;
    border:1px solid #710125;
}


.section-1{
    text-align: center;
    margin-top:50px;
}

.section-2{
    margin-top: 50px;;
}
.layout{
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;  /* 3 columns */
    grid-template-rows: repeat(2, 150px); /* 2 rows */
    gap: 60px;
    width: 1300px;
    margin: auto;
}

/* Small boxes (left & right) */
.box{
     border-radius: 10px;
   padding: 20px;;
 
   
   
    font-size: 18px;
}
.box p{
      font-size:22px;
      font-weight: 600;
}
.box h3{
    color:#710125;
    text-transform: uppercase;
}

/* Middle image spans both rows */
.middle{
    grid-column: 2;
    grid-row: 1 / span 2;
    border-radius: 10px;
    overflow: hidden;
}

.middle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-3{
    margin-top: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 30px;;
   padding-inline: 40px;
}
.section-4{
    background-color: #F8EBEB;
     height: 600px;
    width: 1458px;
    margin-left:25px;
    position: relative;
    

}
.part-0{
    display: flex;
    gap:70px;
    padding: 20px;;
}



.part-1{
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 24px;
    padding: 30px;;
    font-weight: 600;
}
.part-1 h3{
    color:#710125;
}


.about-2{
    height: auto;
   width: 1458px;
    
    position: absolute;
    top:600px;
    object-fit: contain;
}



.section-6{
    margin-top:200px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}
.info
{
    background-color:#D72D52;
    color: white;
    font-size: 24px;;
    font-weight: 600;
     height: 150px;
    width: 300px;
    text-align: center;
    border-radius: 10px;;
     
}
.info-1{
      background-color:#F8EBEB;
    color: #D72D52;
    font-size: 24px;;
    font-weight: 600;
     height: 150px;
    width: 300px;
    padding-top: 35px;;
    text-align: center;
    border-radius: 10px;;
     
}
 
.info-3
{
    background-color:#D72D52;
    color: white;
    font-size: 24px;;
    font-weight: 600;
     height: 150px;
    width: 300px;
    padding-top: 35px;;
    text-align: center;
    border-radius: 10px;;
}
.chef-hat{
    height: 100px;
    width: 50px;
    object-fit: contain;
    color:white;
  
}


footer h1{
text-align: center;
color:#710125;
text-decoration: underline;
}

.footer-part{
    display: flex;
    justify-content: space-evenly;
    margin-top:30px;

}

footer{
    position: relative;
    margin-top: 50px;
    height: 300px;
    padding: 60px 20px 20px;
    background-color: #ffd6d6;
    overflow: hidden;
         box-shadow: -10px 0px 10px grey;

}

footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 90'><path fill='%23fff0f0' d='M0,40 C120,70 240,10 360,30 480,50 600,80 720,60 840,40 960,0 1080,20 1200,40 1320,70 1440,50 L1440,0 L0,0 Z'></path></svg>") no-repeat;
    background-size: cover;
}


.footer-2 ul{
list-style-type: none;
font-size:24px;
line-height: 1.5;
 margin-right:100px;
}

.footer-2 ul li a{
    color:#710125;
    text-decoration: none;
    font-weight: 600;
}

.copy{
    background-color: white;
    font-size: 24px;;
    text-align: center;
    font-weight: 600;
}

.footer-logo{
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.footer-part > div{
    padding: 0 20px;
}

.footer-part > div:not(:last-child){
    border-right: 2px solid #710125;
}

.footer-3{
    font-size:24px;
    font-weight: 600;
    line-height: 1.8;
}
.icons {
    font-size:30px;
    word-spacing: 20px;
}
.search-part {
  position: absolute;
  top: 40px;
  right: 0;
  height: 130px;
  width: 230px;
  background-color: #f8ebeb;
  display: none;            /* hidden initially */
  border: 1px solid #710125;
  padding: 10px;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(3, 30px);
  gap: 10px;
  border-radius: 10px;
  z-index:9999;
}

.menu a:hover{
    color: #D72D52;
}
.eng {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  color: grey;
  font-weight: 600;
}

.search-part a{
    color: grey;
    text-decoration: none;
}

#dessert-dropdown{
    height: 300px;
    width: 150px;
    background-color: #f8ebeb;
    display: flex;
flex-direction: column;
font-size: 22px;
line-height: 1.5;
font-weight: 600;
text-align: center;
padding: 10px;;
border: 1px solid #710125;
z-index: 9999;
position: absolute;
left:250px;
top:60px;
display: none;

}
#dessert-dropdown a{
    text-decoration: none;
    color: #710125;
}

.menu{
    position: relative;
    cursor: pointer;
    
}
.menu a:hover{
    color: #D72D52;
}
/* Overlay */
.modal-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  display:none;
  justify-content:center;
  align-items:center;
  z-index: 9999;
}

/* Modal box */
.modal{
  width:350px;
  height: 400px;
  background:#fff;
  border-radius:20px;
  padding:25px;
  position:relative;
}
.close{
  position:absolute;
 top:10px;
  right:10px;
  font-size: 30px;
  width:40px;
  height:40px;
  border-radius:50%;
  padding-top: -20px;;
  background:#d72d52;
  color:white;
  border:none;
  cursor:pointer;
}
.modal h2{
  margin-bottom:20px;
}
.modal input{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:none;
  background:#f1f1f1;
  margin-bottom:10px;
}
.getotp{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:none;
  background:#ffd3d3;
  color:grey;
  font-size:18px;
  font-weight: 600;
  margin-top:10px;
}
.modal p{
  font-size:18px;
  font-weight: 600;
  margin-top:15px;
}
.link{
  color:blue;
  font-weight: 600;
  font-size: 22px;
  text-decoration: underline;
  float:right;
  cursor:pointer;
}

#e-mail{
    height: 45px;
    border-radius: 10px;
    font-size: 22px;
color: grey;
    font-weight: 600;
}