*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
      font-family: "Inria Sans", sans-serif;

}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#header{
    background-color:#FFCCCC ;
    height: 150px;
    border:1px solid black;
    display: flex;
    padding: 20px;
    gap:100px;
 box-shadow: 1px 2px 3px lightgray;
}

.menu {
    width: 700px;
         display: flex;
        justify-content: space-evenly;
        padding: 25px;;
        font-size: 24px;;
        margin-top:15px;
      



}
.menu a{
      text-decoration: none;
        color:#710125;
        font-weight: 600;
}

  .logo{
    height: 130px;
    width:inherit;
    object-fit: contain;
  }

.search{
    font-size:22px;
    height: 35px;
    padding-top: 5px;;
    padding-left: 5px;;
    padding-right: 5px;;
    width: 200px;
    background-color: white;
    color:#710125;
            font-weight: 600;
              position: relative;
  cursor: pointer;
border-radius: 10px;;
text-align: center;
    margin-top:30px;
    border:1px solid #710125;
}

.login{
      font-size:22px;
    height: 35px;
    padding-top: 5px;;
    padding-left: 5px;;
    padding-right: 5px;;
    width: 200px;
    cursor: pointer;
    background-color: white;
    color:#710125;
            font-weight: 600;
border-radius: 10px;;
text-align: center;
    margin-top:30px;
    border:1px solid #710125;
}
 

footer h1{
text-align: center;
color:#710125;
text-decoration: underline;
}

.footer-part{
    display: flex;
    justify-content: space-evenly;
    margin-top:30px;

}

footer{
    position: relative;
    margin-top: 50px;
    height: 300px;
    padding: 60px 20px 20px;
    background-color: #ffd6d6;
    overflow: hidden;
             box-shadow: -10px 0px 10px grey;

}

footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 90'><path fill='%23fff0f0' d='M0,40 C120,70 240,10 360,30 480,50 600,80 720,60 840,40 960,0 1080,20 1200,40 1320,70 1440,50 L1440,0 L0,0 Z'></path></svg>") no-repeat;
    background-size: cover;
}


.footer-2 ul{
list-style-type: none;
font-size:24px;
line-height: 1.5;
 margin-right:100px;
}

.footer-2 ul li a{
    color:#710125;
    text-decoration: none;
    font-weight: 600;
}

.copy{
    background-color: white;
    font-size: 24px;;
    text-align: center;
    font-weight: 600;
}

.footer-logo{
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.footer-part > div{
    padding: 0 20px;
}

.footer-part > div:not(:last-child){
    border-right: 2px solid #710125;
}

.footer-3{
    font-size:24px;
    font-weight: 600;
    line-height: 1.8;
}
.icons {
    font-size:30px;
    word-spacing: 20px;
}

.slider {
    position: relative;
    width: 1180px;   /* bigger so you can see it */
    height: 530px;  /* adjust as needed */
    margin: 50px auto;  /* center on page */
    overflow: hidden;
     border-radius: 10px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    animation: fade 9s infinite;
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 2s; }
.slide:nth-child(3) { animation-delay: 4s; }

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}


h1{
    text-align: center;
    color: #710125;
}

.display-1{
    display: grid;
    margin-top:50px;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(2,380px);
    gap:100px;
    margin-left:200px;

}
.display{
    background-color: #f8ebeb;
     padding: 10px;;
     border-radius: 10px;;
}
.product-img{
height: 300px;
width: 280px;
border-radius: 10px;;
object-fit: cover;
}
.display h3{
    text-align: center;
    color: #710125;
    font-size: 25px;;
}

.testimony{
    height: auto;
    width: 1100px;
    object-fit: contain;

}

.testimonials{
    margin-top:50px;
    margin-left: 200px;;
     position: relative;
    width: 1180px;   /* bigger so you can see it */
    height: 300px;  /* adjust as needed */
    margin: 50px auto;  /* center on page */
    overflow: hidden;
     border-radius: 10px;
     
}

.testimony:nth-child(1) { animation-delay: 0s; }
.testimony:nth-child(2) { animation-delay: 2s; }
.testimony:nth-child(3) { animation-delay: 4s; }

 

.testimony {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    animation: fades 6s infinite;
}

@keyframes fades {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    30%  { opacity: 1; }
    40%  { opacity: 0; }
    100% { opacity: 0; }
}


.seller{
   display: grid;
    margin-top:50px;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(1,380px);
    gap:100px;
    margin-left:200px;
    

}

.seller-img{
height: 300px;
width: 280px;
border-radius: 10px;;
object-fit: cover;
}
.seller h3{
    color: #710125;
    font-size: 24px;
}
 .combo{
     background-color: #f8ebeb;
     padding: 10px;;
     border-radius: 10px;;
 }

 .order{
    height: 600px;
        margin:auto;
        margin-top:50px;
 position: relative;
     box-shadow: -10px 0px 10px black;
    
 }
 .order-img{
    height: 600px;
    width: 1200px;
    margin-left:100px;
    object-fit:cover;
    border-radius: 10px;;
     object-position: center   ;
    
 }

 .order button{
    text-decoration: none;
    color: white;
    height: 60px;
    width: 300px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
     background-color: #D72D52;
    position: absolute;
    bottom:300px;
    border:1px solid black;
    right:300px;
    font-weight: 600;
 }

  .order button:hover{
    color: #710125;
    background-color: white;
  }
.search-part {
  position: absolute;
  top: 40px;
  right: 0;
  height: 130px;
  width: 230px;
  background-color: #f8ebeb;
  display: none;            /* hidden initially */
  border: 1px solid #710125;
  padding: 10px;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(3, 30px);
  gap: 10px;
  border-radius: 10px;
  z-index:9999;
}

.eng {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  color: grey;
  font-weight: 600;
}

.search-part a{
    color: grey;
    text-decoration: none;
}
#dessert-dropdown{
    height: 300px;
    width: 150px;
    background-color: #f8ebeb;
    display: flex;
flex-direction: column;
font-size: 22px;
line-height: 1.5;
font-weight: 600;
text-align: center;
padding: 10px;;
border: 1px solid #710125;
z-index: 9999;
position: absolute;
left:250px;
top:60px;
display: none;

}
#dessert-dropdown a{
    text-decoration: none;
    color: #710125;
}

.menu{
    position: relative;
    cursor: pointer;
    
}
.menu a:hover{
    color: #D72D52;
}

 

/* Overlay */
.modal-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  display:none;
  justify-content:center;
  align-items:center;
  z-index: 9999;
}

/* Modal box */
.modal{
  width:350px;
  height: 400px;
  background:#fff;
  border-radius:20px;
  padding:25px;
  position:relative;
}
.close{
  position:absolute;
 top:10px;
  right:10px;
  font-size: 30px;
  width:40px;
  height:40px;
  border-radius:50%;
  padding-top: -20px;;
  background:#d72d52;
  color:white;
  border:none;
  cursor:pointer;
}
.modal h2{
  margin-bottom:20px;
}
.modal input{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:none;
  background:#f1f1f1;
  margin-bottom:10px;
}
.getotp{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:none;
  background:#ffd3d3;
  color:grey;
  font-size:18px;
  font-weight: 600;
  margin-top:10px;
}
.modal p{
  font-size:18px;
  font-weight: 600;
  margin-top:15px;
}
.link{
  color:blue;
  font-weight: 600;
  font-size: 22px;
  text-decoration: underline;
  float:right;
  cursor:pointer;
}

#e-mail{
    height: 45px;
    border-radius: 10px;
    font-size: 22px;
color: grey;
    font-weight: 600;
}